.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 12%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.side-bar h4 {
    color: white;
    padding: 1.4rem 0rem 0rem 2rem;
    font-size: x-large;
}

.side-bar .elements-side-bar {
    margin: 15%;
    display: flex;
    flex-direction: column;
}

.side-bar .elements-side-bar a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding: 1rem;
    margin-bottom: 10%;
}

.side-bar .elements-side-bar a:hover {
    color: white;
}

.side-bar .elements-side-bar a:active {
    background-color: white;
    color: black;
}